DEBUG=false
SKIP_INTRO=false
UI_COLOR=cyan
TRADING_ENABLED=true
WRAP_UNWRAP_SOL=true
SOLANA_WALLET_PRIVATE_KEY=hgq847chjjjJUPITERiiiISaaaAWESOMEaaANDiiiIwwWANNAbbbBErrrRICHh
DEFAULT_RPC=https://solana-mainnet.g.alchemy.com/v2/WM_Gl7ktiws7icLQVxLP5iVHNQTv8RNk
ALT_RPC_LIST=https://change-this-url-in-env.gov,https://change-alt-urls-in-env.com
minPercProfit=0.06
tradingStrategy=arbitrage2