DEBUG=false
SKIP_INTRO=true
UI_COLOR=cyan
TRADING_ENABLED=true
WRAP_UNWRAP_SOL=true
SOLANA_WALLET_PRIVATE_KEY=2s....2s
ALT_RPC_LIST=comma,separated,list,of,rpcs
minPercProfit=0.01
tradingStrategy=arbitrage
RECEIVING_ADDRESS=GoUPK9AX5yuxSMdovRZetzrzLVAuep7P9axWc9jyb7LC
